{% with comptes=user.active_accounts %}
<!--begin::Aside Menu-->
<div class="hover-scroll-overlay-y my-5 my-lg-5" id="kt_aside_menu_wrapper" data-kt-scroll="true"
     data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-height="auto"
     data-kt-scroll-dependencies="#kt_aside_logo, #kt_aside_footer" data-kt-scroll-wrappers="#kt_aside_menu"
     data-kt-scroll-offset="0">
    <!--begin::Menu-->
    <div class="menu menu-column menu-title-gray-800 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-500"
         id="#kt_aside_menu" data-kt-menu="true">
        <div class="menu-item">
            <a class="menu-link {% if active_item == 'dashboard' %}active{% endif %}" href="">
					<span class="menu-icon">
						<i class="bi bi-house fs-3"></i>
					</span>
                <span class="menu-title">Accueil</span>
            </a>
        </div>
        <div class="menu-item">
            <div class="menu-content pt-8 pb-2">
                <span class="menu-section text-muted text-uppercase fs-8 ls-1">{% if comptes|length == 1 %}Mon compte{% else %}Mes comptes{% endif %}</span>
            </div>
        </div>

        {% for client in liste_clients %}
        <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
            <!--begin:Menu link-->
            <span class="menu-link">

					<span class="menu-title">{{ client.name }}</span>
					<span class="menu-arrow"></span>
				</span>
            <!--end:Menu link-->
            <!--begin:Menu sub-->
            <div class="menu-sub menu-sub-accordion menu-active-bg">
                <!--begin:Menu item-->
                <div class="menu-item">
                    <!--begin:Menu link-->
                    <a class="menu-link" href="{% url 'order:Add_Commande' %}?client_id={{ client.id }}">
							<span class="menu-bullet">
								<span class="bullet bullet-dot"></span>
							</span>
                        <span class="menu-title">Liste commande</span>
                    </a>
                    <!--end:Menu link-->
                </div>
                <!--end:Menu item-->
                <!--begin:Menu item-->
                <div class="menu-item">
                    <!--begin:Menu link-->
                    <a class="menu-link" href="{% url 'order:Add_Commande' %}?client_id={{ client_id }}">
							<span class="menu-bullet">
								<span class="bullet bullet-dot"></span>
							</span>
                        <span class="menu-title">Nouvelle commande</span>
                    </a>
                    <!--end:Menu link-->
                </div>


                <div class="menu-item">
                    <!--begin:Menu link-->
                        <a class="menu-link" href="{% url 'invoice:facture_list'%}?client_id={{ client_id }}">

							<span class="menu-bullet">
								<span class="bullet bullet-dot"></span>
							</span>
                        <span class="menu-title">Mes Factures</span>
                    </a>
                    <!--end:Menu link-->
                </div>

                <div class="menu-item">
                    <!--begin:Menu link-->
                    <a class="menu-link" href="{% url 'order:Add_Commande' %}">
							<span class="menu-bullet">
								<span class="bullet bullet-dot"></span>
							</span>
                        <span class="menu-title">Postes non soldés</span>
                    </a>
                    <!--end:Menu link-->
                </div>
                <!--end:Menu item-->

                <!-- Ajoutez d'autres éléments de menu pour le client ici -->
            </div>
            <!--end:Menu sub-->
        </div>
        {% endfor %}
    </div>

</div>


{% endwith %}