{% extends "base/base.html" %}
{% load rest_framework %}
{% load static %}


{% block title %}


{% endblock %}

{% block css %}
<style>* {margin: 0; padding: 0; box-sizing: border-box;}
                    body {background: #f6f6f6; color: #444; font-family: 'Roboto', sans-serif; font-size: 16px; line-height: 1;}
                    .container {max-width: 1100px; padding: 0 20px; margin:0 auto;}
                    .panel {margin: 100px auto 40px; max-width: 500px; text-align: center;}
                    .button_outer {background: #3a62d8; border-radius:30px; text-align: center; height: 50px; width: 200px; display: inline-block; transition: .2s; position: relative; overflow: hidden;}
                    .btn_upload {padding: 17px 30px 12px; color: #fff; text-align: center; position: relative; display: inline-block; overflow: hidden; z-index: 3; white-space: nowrap;}
                    .btn_upload input {position: absolute; width: 100%; left: 0; top: 0; width: 100%; height: 105%; cursor: pointer; opacity: 0;}
                    .file_uploading {width: 100%; height: 10px; margin-top: 20px; background: #ccc;}
                    .file_uploading .btn_upload {display: none;}
                    .processing_bar {position: absolute; left: 0; top: 0; width: 0; height: 100%; border-radius: 30px; background:#83ccd3; transition: 3s;}
                    .file_uploading .processing_bar {width: 100%;}
                    .success_box {display: none; width: 50px; height: 50px; position: relative;}
                    .success_box:before {content: ''; display: block; width: 9px; height: 18px; border-bottom: 6px solid #fff; border-right: 6px solid #fff; -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); -ms-transform:rotate(45deg); transform:rotate(45deg); position: absolute; left: 17px; top: 10px;}
                    .file_uploaded .success_box {display: inline-block;}
                    .file_uploaded {margin-top: 0; width: 50px; background:#83ccd3; height: 50px;}
                    .uploaded_file_view {max-width: 300px; margin: 40px auto; text-align: center; position: relative; transition: .2s; opacity: 0; border: 2px solid #ddd; padding: 15px;}
                    .file_remove{width: 30px; height: 30px; border-radius: 50%; display: block; position: absolute; background: #aaa; line-height: 30px; color: #fff; font-size: 12px; cursor: pointer; right: -15px; top: -15px;}
                    .file_remove:hover {background: #222; transition: .1s;}
                    .uploaded_file_view img {max-width: 100%;}
                    .uploaded_file_view.show {opacity: 1;}
                    .error_msg {text-align: center; color: #f00}
</style>
<style>.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -30px;
    z-index: 9999;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
</style>

{% endblock css %}


{% block toolbar %}


<!--begin::Toolbar-->

<div id="kt_app_toolbar" class="app-toolbar py-2 py-lg-4" style="height: 60px">
	<!--begin::Toolbar container-->
	<div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
		<!--begin::Page title-->
		<div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
			<!--begin::Title-->
			<h1 class="page-heading d-flex text-gray-900 fw-bold fs-3 flex-column justify-content-center my-0">
				Upload Image</h1>
			<ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
				<!--begin::Item-->
				<li class="breadcrumb-item text-muted">
					<a href="index.html" class="text-muted text-hover-primary">Accueil</a>
				</li>
				<!--end::Item-->
				<!--begin::Item-->
				<li class="breadcrumb-item">
					<span class="bullet bg-gray-500 w-5px h-2px"></span>
				</li>
				<!--end::Item-->
				<!--begin::Item-->
				<li class="breadcrumb-item text-muted">Charger image</li>
			</ul>
		</div>
		<form method="post" id="upload_form" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="d-flex align-items-center ">
				<!--begin::Secondary button-->
				<a class="btn btn-sm fw-bold btn-secondary"> <input type="file" id="upload_file" name="image">
					Charger Image</a>
				<button type="submit" class="btn btn-primary" style="margin-left: 10px">Envoyer</button>
			</div>
		</form>
	</div>
</div>


{% endblock %}


{% block content %}


<!--begin::Row-->
<div class="row gx-5 gx-xl-10 mb-2 mt-4" style="height:600px">
	<!--begin::Col-->
	<div class="col-xl-4 mb-2 mb-xl-0">
		<!--begin::Chart widget 31-->
		<div class="card card-flush h-xl-100">
			<!--begin::Header-->
			<div class="card-header ">
				<!--begin::Title-->
				<h3 class="card-title align-items-start flex-column">
					<span class="card-label fw-bold text-gray-600">Détection du réfrigerateur</span>
				
				</h3>
				<div id="progress-bar-container" class="progress-bar-container">
					<div id="progress-bar" class="progress-bar"></div>
				</div>
				<div id="loader" class="loader"></div>
			
			</div>
			<!--end::Header-->
			<!--begin::Body-->
			<div class="card-body d-flex align-items-center justify-content-center pt-0">
				<!--begin::Chart-->
				<div class="error_msg"></div>
				
				<div id="detections">
					{% if image_with_boxes_path %}
					<div class="text-center mt-4">
						<img src="{{ image_with_boxes_path }}" alt="Image with boxes" style="max-height: 70%;"
							 class="img-fluid"/>
					
					</div>
					{% else %}
					<div class="text-center mt-4">
						<!--						<img src="https://www.lg.com/tn/images/refrigerateurs/md05875295/gallery/GN-H702HLHU_Desk01_120917.jpg" alt="Image with boxes" class="img-fluid"/>-->
					
					</div>
					{% endif %}
				
				</div>
				<!--end::Chart-->
			</div>
			<!--end::Body-->
			
			<!--end::Body-->
		</div>
		<!--end::Chart widget 31-->
	</div>
	<!--end::Col-->
	<!--begin::Col-->
	<div class="col-xl-8">
		<!--begin::Chart widget 24-->
		<div class="card card-flush overflow-hidden h-xl-100">
			
			<div class="scroll h-650px">
				<div id="detections">
					<!--begin::Card header-->
					<div class="card-header">
						<div class="card-title ">
							<h2 class="text-gray-600">Détections</h2>
						</div>
					</div>
					
					{% if json_data %}
					<div class="card-body" style="margin-top: -33px">
						{% if json_data %}
						<div class="container tab-content">
							
							<div class="tab-pane fade show active" id="tab_general"
								 role="tabpanel">
								<h4 class="mb-0 pb-0">Réfrigérateur</h4>
								<div class="separator separator-dashed border-primary my-2 mb-3"></div>
								
								<!-- Utilisabilité, Marque et État -->
								<div class="row align-items-start mb-3">
									<div class="col-lg-4 col-md-6 mb-3">
										<div class="row">
											<div class="col-5 fs-6 text-end">Utilisabilité:</div>
											<div class="col-7 fw-bolder fs-5">
												{% if json_data.Usability.predicted_class == 'Exploitable' %}
												<span class="badge badge-light-success fw-bold"
													  style="font-size: smaller;">Exploitable</span>
												{% elif json_data.Usability.predicted_class == 'Inexploitable' %}
												<span class="badge badge-light-danger fw-bold"
													  style="font-size: smaller;">Inexploitable</span>
												{% endif %}
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-6 mb-3">
										<div class="row">
											<div class="col-5 fs-6 text-end">Marque:</div>
											<div class="col-7 fw-bolder fs-6">
												{% if json_data.Brand %}
												{{ json_data.Brand.predicted_class }}
												{% endif %}
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-6 mb-3">
										<div class="row">
											<div class="col-5 fs-6 text-end">État:</div>
											<div class="col-7 fw-bolder fs-4">
												{% if json_data.Condition %}
												<span class="badge badge-light-danger fw-bold"
													  style="font-size: smaller;">
												{{ json_data.Condition.predicted_class }}
											</span>
												{% endif %}
											</div>
										</div>
									</div>
								</div>
								
								<!-- Statut de la porte, Conformité et (ajouter une autre information si nécessaire) -->
								<div class="row align-items-start mb-3">
									<div class="col-lg-4 col-md-6 mb-3">
										<div class="row">
											<div class="col-5 fs-6 text-end">Statut Porte:</div>
											<div class="col-7 fw-bolder fs-6">
												{% if json_data.Doorstatus %}
												{{ json_data.Doorstatus.predicted_class }}
												{% endif %}
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-6 mb-3">
										<div class="row">
											<div class="col-5 fs-6 text-end">Conformité:</div>
											<div class="col-7 fw-bolder fs-6">
												{% if json_data.Overall_Similarity %}
												{{ json_data.Overall_Similarity|floatformat:2 }}%
												{% endif %}
											</div>
										</div>
									</div>
								
								</div>
								
								
								<!-- Infos sur les étagères -->
								
								
								<h4 class="mb-1 pb-0 mt-8">Étagères</h4>
								
								
								<div class="separator separator-dashed border-primary my-2 mb-3"></div>
								<div class="align-items-start mb-3 d-flex justify-content-between flex-column flex-xl-row gap-5">
									<div class="d-flex align-items-center flex-row justify-content-end"
										 style="overflow-x: auto; width: 100%;">
										<div class="row g-5">
											{% for shelf in json_data.Shelves %}
											<div class="col-xl-4 col-lg-6 col-md-12">
												<div class="card card-bordered mb-5 h-100"
													 style="border: 1.5px solid #a5a5a5">
													<div class="card-header">
														<h3 class="card-title">{{ shelf.name }}</h3>
													</div>
													
													<div class="card-body"
														 style="margin-top: -40px; padding: 2.5rem 1.35rem;">
														<ul class="list-group list-group-flush">
															<li class="d-flex ">
																<span class="text-gray-800" style="margin-right: 5px">Alignement: </span>
																<span class="text-dark fw-bold ">{{ shelf.alignment_result.predicted_class }}</span>
															</li>
															<li class="d-flex  mt-2">
																<span class="text-gray-800" style="margin-right: 5px">Profil plastique: </span>
																<span class="text-dark fw-bold"> {{ shelf.shelf_profil_result.predicted_class }}</span>
															</li>
															<li class="d-flex  mt-2 mb-1">
																<span class="text-gray-800" style="margin-right: 1px">Marchandise en arrière: </span>
																<span class="text-dark fw-bold"> {{ shelf.shelf_fond_result.predicted_class }}</span>
															</li>
															<li class="d-flex mt-2 mb-3">
																<span class="text-gray-800" style="margin-right: 3px">Respect du plannogramme: </span>
																<span class="text-dark fw-bold">{{ shelf.similarity|floatformat:2 }}%</span>
															</li>
														</ul>
														
														
														<div class="card-footer" style="padding: 1rem 0.25rem">
															{% if shelf.items %}
															<div class="row">
																{% for item in shelf.items %}
																<div class="col-6 col-sm-4 col-md-3">
																	<h5 style="font-size: x-small; font-style: italic; font-family: unset;">
																		{{ item.name }}</h5>
																</div>
																{% endfor %}
															</div>
															{% else %}
															<p>Aucun élément</p>
															{% endif %}
														</div>
													</div>
												</div>
											</div>
											{% endfor %}
										</div>
									</div>
								</div>
							
							</div>
						
						
						</div>
						{% endif %}
					</div>
					{% endif %}
				</div>
				
			
			</div>
		
		</div>
	</div>
</div>


{% endblock content %}


{% block javascript %}

<script>
	
	
	var btnUpload = $("#upload_file"),
		btnOuter = $(".button_outer");
	btnUpload.on("change", function(e){
		var ext = btnUpload.val().split('.').pop().toLowerCase();
		if($.inArray(ext, ['gif','png','jpg','jpeg']) == -1) {
			$(".error_msg").text("Not an Image...");
		} else {
			$(".error_msg").text("");
			btnOuter.addClass("file_uploading");
			setTimeout(function(){
				btnOuter.addClass("file_uploaded");
			},3000);
			var uploadedFile = URL.createObjectURL(e.target.files[0]);
			setTimeout(function(){
				$("#uploaded_view").append('<img src="'+uploadedFile+'" />').addClass("show");
			},3500);
		}
	});
	$(".file_remove").on("click", function(e){
		$("#uploaded_view").removeClass("show");
		$("#uploaded_view").find("img").remove();
		btnOuter.removeClass("file_uploading");
		btnOuter.removeClass("file_uploaded");
	});
	
	
	  var detections = JSON.parse('{{ detections | escapejs }}');

// Sélectionner l'élément où afficher les résultats
var detectionsDiv = document.getElementById('detections');

// Parcourir les résultats et les afficher dans la div
detections.forEach(function(result) {
var resultDiv = document.createElement('div');
resultDiv.innerHTML = 'Nom: ' + result.name + ', Classe: ' + result.class + ', Confiance: ' + result.confidence;
detectionsDiv.appendChild(resultDiv);
});
</script>
<script>
	
	// Affiche le loader lorsque le chargement commence
	function showLoader() {
	  document.getElementById('loader').style.display = 'block';
	}
	
	// Masque le loader lorsque le chargement est terminé
	function hideLoader() {
	  document.getElementById('loader').style.display = 'none';
	}
	
	// Écoute les événements de chargement asynchrone (par exemple, une requête AJAX)
	document.addEventListener('readystatechange', function() {
	  if (document.readyState === 'loading') {
		  // Le chargement commence
		  showLoader();
	  } else if (document.readyState === 'interactive' || document.readyState === 'complete') {
		  // Le chargement est terminé
		  hideLoader();
	  }
	});

</script>

<script>
	fetch('saved_models/planogram_results.json')
	.then(response => response.json())
	.then(data => {
		const jsonContainer = document.getElementById('container');
		jsonContainer.textContent = JSON.stringify(data, null, 4);
	})
	.catch(error => {
		console.error('Error fetching JSON:', error);
		const jsonContainer = document.getElementById('container');
		jsonContainer.textContent = 'Error fetching JSON';
	});
</script>

{% endblock javascript%}